html {
    scroll-behavior: smooth;
}
.is-180x180{
    height: 180px;
    width: 180px;
}
.skill-list > li{
    margin: 30px 0 0 0;
}
.has-bg-image {
    background-image: url('../images/coverShovo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bulma-image {
    width: 200px;
}
.interests {
    display: flex;
    justify-content: center;
}

.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}

.skill-percentage {
	float: right;
}
.nav .nav-toggle span {
    background-color: #ffffff;
}
.navbar-burger {
   color: #ffffff;
}
.cardimage{
height: 300px;
width: 300px;
}
.card{
margin: auto;
margin-top: 15px;


height: 480px;
width: 300px;
}
.card:hover{

    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;

}

.card-body{

 padding: 3rem 0 !important;

}

.card-text{

font-size: 0.9rem;
padding: 0.4rem;

}

.overflow{
    overflow: hidden;
}
.card-image-top{
    transform: scale(1);
    transition: transform 0.5s ease;

}
.card-image-top:hover{
    transform: scale(1.8);
}


.card-header-title{
        color: #3273DC;
        text-decoration: solid;



}
.titleskill{

    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-decoration: solid;
    text-decoration-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.250em;
    display: block;
}
.underline{

    text-decoration: overline;
}

.skillText{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    color: #333;
   
    text-align: center;

}
#skills{

  background-color: #eeeeee;
  
}
#experience{

  background-color: #ffffff;
}

.skillTextSection{
    display: inline-block; 
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 32px;
   

}
.skillContainer{
  
    text-align: center;


}
.mainSkill{

    width: 1200px;
    position: relative;

}
#hozdiv{

   
    position: relative;
    margin-top: 30px;
}
#lang{
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
         display: inline-block; 
         margin-block-start:21.28;
         margin-inline-end: 5rem;
         margin-top: 25px;
         font-weight: 700;
         font-weight: bold;
         letter-spacing: 1.6px;
         color: #222;
         text-transform: uppercase;
         margin-inline-start: 5rem;
        margin-block-end:21.28;
         font-size: 17px;




}
#containerSkill{

   padding:  15px;
   margin-top: 10px;
   margin-right: 120px;

}

#langT{
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
         display: inline-block; 
         margin-block-start:21.28;
         margin-inline-end: 5rem;
         margin-top: 25px;
         font-weight: 700;
         font-weight: bold;
         letter-spacing: 3.6px;
         color: #222;
         text-transform: uppercase;
         margin-inline-start: 5rem;
        margin-block-end:21.28;
         font-size: 17px;




}

 
#bigtext{
     font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    display: block;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
   font-size: 1.5em;
   margin-top: 50px;
   margin-bottom: 20px;
   letter-spacing: 2.4px;
}

#tools{

      display: inline-block; 
      
      
}

ul {
  list-style: none; /* Remove default bullets */
  margin-top: 10px;
  text-align: left;
  margin-left: 130px;
}




ul li::before {
    
    
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


