html {
    scroll-behavior: smooth;
}
.is-180x180{
    height: 180px;
    width: 180px;
}
.skill-list > li{
    margin: 30px 0 0 0;
}
.has-bg-image {
    background-image: url('../images/coverShovo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bulma-image {
    width: 200px;
}
.interests {
    display: flex;
    justify-content: center;
}

.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}

.skill-percentage {
	float: right;
}
.nav .nav-toggle span {
    background-color: #ffffff;
}
.navbar-burger {
   color: #ffffff;
}
.cardimage{
height: 300px;
width: 300px;
}
.card{
margin: auto;
margin-top: 15px;


height: 480px;
width: 300px;
}
.card:hover{

    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;

}

.card-body{

 padding: 3rem 0 !important;

}

.card-text{

font-size: 0.9rem;
padding: 0.4rem;

}

.overflow{
    overflow: hidden;
}
.card-image-top{
    transform: scale(1);
    transition: transform 0.5s ease;

}
.card-image-top:hover{
    transform: scale(1.8);
}


.card-header-title{
        color: #3273DC;
        text-decoration: solid;



}