html {
    scroll-behavior: smooth;
}
.is-180x180{
    height: 180px;
    width: 180px;
}
.skill-list > li{
    margin: 30px 0 0 0;
}
.has-bg-image {
    background-image: url('../images/coverShovo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.bulma-image {
    width: 200px;
}
.interests {
    display: flex;
    justify-content: center;
}

.summary-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 36em;
}

.skill-percentage {
	float: right;
}
.nav .nav-toggle span {
    background-color: #ffffff;
}
.navbar-burger {
   color: #ffffff;
}
.cardimage{
height: 320px;
width: 320px;
}
.card{
margin: auto;
margin-top: 15px;

height: 520px;
width: 320px;
}
.card-header-title{
        color: #3273DC;
        text-decoration: solid;



}